config.py
\.venv/
.idea/FelineSec-Bot.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
commands/__pycache__/__init__.cpython-37.pyc
commands/__pycache__/help.cpython-37.pyc
commands/__pycache__/newuser.cpython-37.pyc
commands/__pycache__/server.cpython-37.pyc
commands/__pycache__/start.cpython-37.pyc
commands/__pycache__/rules.cpython-37.pyc
commands/__pycache__/setrules.cpython-37.pyc
commands/__pycache__/definisci.cpython-37.pyc
__pycache__/config.cpython-37.pyc
\.idea/

commands/__pycache__/

\.DS_Store
